name: CI build and test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  BUILD_TYPE: Release
  USERNAME: alxvth
  FEED_URL: https://nuget.pkg.github.com/alxvth/index.json
  VCPKG_BINARY_SOURCES: "clear;nuget,https://nuget.pkg.github.com/alxvth/index.json,readwrite"

jobs:
  build:
    name: ${{ matrix.config.name }} (${{ matrix.build_type }})
    runs-on: ${{ matrix.config.os }}
    strategy:
      fail-fast: true
      matrix:
        config:
        - {
            name: "Windows 2025 MSVC 2022",
            os: windows-2025,
            cc: "cl",
            cxx: "cl",
            generator: "Visual Studio 17 2022"
          }
        - {
            name: "Ubuntu 24 GCC 13",
            os: ubuntu-24.04,
            cc: "gcc",
            cxx: "g++",
            generator: "Ninja"
          }
        - {
            name: "macOS 26 Xcode 26 (ARM)",
            os: macos-26,
            cc: "clang",
            cxx: "clang++",
            generator: "Xcode",
            xcode_version: "26.2"
          }
        build_type: [Debug, Release]

    steps:
    - uses: actions/checkout@v5

    # Clone vcpkg
    # Prefer: git clone --branch 2025.09.17 --single-branch https://github.com/microsoft/vcpkg.git
    - name: Clone vcpkg
      run: |
        cd ${{ github.workspace }}
        git clone https://github.com/microsoft/vcpkg.git
        cd vcpkg
        git checkout b42b19a62b63514ed9fa2a81e07ce75e613c83c0

    # Bootstrap vcpkg
    - name: Bootstrap vcpkg (Windows)
      if: runner.os == 'Windows'
      shell: pwsh
      run:  |
        ${{ github.workspace }}\vcpkg\bootstrap-vcpkg.bat
        echo "VCPKG_ROOT=${{ github.workspace }}\vcpkg" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
        echo "VCPKG_EXE=${{ github.workspace }}\vcpkg\vcpkg.exe" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
        echo "VCPKG_LIBRARY_LINKAGE=dynamic" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append

    - name: Bootstrap vcpkg (Linux/MacOS)
      if: runner.os == 'Linux' || runner.os == 'macOS'
      shell: bash
      run: |
        ${{ github.workspace }}/vcpkg/bootstrap-vcpkg.sh 
        echo "VCPKG_ROOT=${{ github.workspace }}/vcpkg" >> $GITHUB_ENV
        echo "VCPKG_EXE=${{ github.workspace }}/vcpkg/vcpkg" >> $GITHUB_ENV
        echo "VCPKG_LIBRARY_LINKAGE=dynamic" >> $GITHUB_ENV

    # Use cached vcpkg packages if possible
    - name: Add NuGet sources (Windows)
      if: runner.os == 'Windows'
      shell: pwsh
      run: |
        .$(${{ env.VCPKG_EXE }} fetch nuget) `
          sources add `
          -Source "${{ env.FEED_URL }}" `
          -StorePasswordInClearText `
          -Name GitHubPackages `
          -UserName "${{ env.USERNAME }}" `
          -Password "${{ secrets.GH_VCPKG_PACKAGES }}"
        .$(${{ env.VCPKG_EXE }} fetch nuget) `
          setapikey "${{ secrets.GH_VCPKG_PACKAGES }}" `
          -Source "${{ env.FEED_URL }}"

    - name: NuGet dependencies (Linux)
      if: runner.os == 'Linux'
      shell: bash
      run:  |
        sudo apt update && sudo apt install -y mono-complete

    - name: NuGet dependencies (MacOS)
      if: runner.os == 'macOS'
      shell: bash
      run:  |
        brew install mono

    - name: Add NuGet sources (Linux/MacOS)
      if: runner.os == 'Linux' || runner.os == 'macOS'
      shell: bash
      run: |
        mono `${{ env.VCPKG_EXE }} fetch nuget | tail -n 1` \
          sources add \
          -Source "${{ env.FEED_URL }}" \
          -StorePasswordInClearText \
          -Name GitHubPackages \
          -UserName "${{ env.USERNAME }}" \
          -Password "${{ secrets.GH_VCPKG_PACKAGES }}"
        mono `${{ env.VCPKG_EXE }} fetch nuget | tail -n 1` \
          setapikey "${{ secrets.GH_VCPKG_PACKAGES }}" \
          -Source "${{ env.FEED_URL }}"

    # Install system dependencies
    - name: Install system dependencies (Linux)
      if: runner.os == 'Linux'
      shell: bash
      run: sudo apt install -y libtbb-dev libxinerama-dev libxcursor-dev xorg-dev libglu1-mesa-dev pkg-config

    - name: Install Ninja (Linux)
      if: runner.os == 'Linux'
      run: sudo apt install -y ninja-build

    - name: Install system dependencies (MacOS)
      if: runner.os == 'macOS'
      shell: bash
      run: brew install libomp

    # Configure project
    - name: Configure projects (Windows)
      if: runner.os == 'Windows'
      shell: pwsh
      env:
        CC: ${{ matrix.config.cc }}
        CXX: ${{ matrix.config.cxx }}
        CMAKE_TOOLCHAIN_FILE: "${{ env.VCPKG_ROOT }}/scripts/buildsystems/vcpkg.cmake"
      run: |
        cmake -B ${{github.workspace}}/build  -G "${{ matrix.config.generator }}" -DCMAKE_BUILD_TYPE=${{matrix.build_type }} -DSPH_BUILD_EVAL=ON -DSPH_BUILD_VIS=ON -DSPH_BUILD_TESTS=ON -A x64 

    - name: Configure projects (Linux)
      if: runner.os == 'Linux'
      shell: bash
      env:
        CC: ${{ matrix.config.cc }}
        CXX: ${{ matrix.config.cxx }}
        CMAKE_TOOLCHAIN_FILE: "${{ env.VCPKG_ROOT }}/scripts/buildsystems/vcpkg.cmake"
      run: |
        cmake -B ${{github.workspace}}/build \
              -G "${{ matrix.config.generator }}" \
              -DCMAKE_BUILD_TYPE=${{matrix.build_type }} \
              -DSPH_BUILD_EVAL=ON \
              -DSPH_BUILD_VIS=ON \
              -DSPH_BUILD_TESTS=ON

    - name: Configure projects (MacOS)
      if: runner.os == 'macOS'
      shell: bash
      env:
        CC: ${{ matrix.config.cc }}
        CXX: ${{ matrix.config.cxx }}
        CMAKE_TOOLCHAIN_FILE: "${{ env.VCPKG_ROOT }}/scripts/buildsystems/vcpkg.cmake"
      run: |
        export OpenMP_ROOT=$(brew --prefix)/opt/libomp
        sudo xcode-select --switch /Applications/Xcode_${{ matrix.config.xcode_version }}.app/Contents/Developer
        xcode-select --print-path
        cmake -B ${{github.workspace}}/build \
              -G "${{ matrix.config.generator }}" \
              -DCMAKE_BUILD_TYPE=${{matrix.build_type }} \
              -DSPH_BUILD_EVAL=ON \
              -DSPH_BUILD_VIS=ON \
              -DSPH_BUILD_TESTS=ON

    # Build the project
    - name: Build (Lib)
      run: cmake --build ${{github.workspace}}/build --target SPHLibrary --config ${{matrix.build_type }}

    - name: Build (Eval)
      run: cmake --build ${{github.workspace}}/build --target SPHEvaluation --config ${{matrix.build_type }}

    - name: Build (Vis)
      run: cmake --build ${{github.workspace}}/build --target SPHVisualization --config ${{matrix.build_type }}

    - name: Build (Test)
      run: cmake --build ${{github.workspace}}/build --target SPHTests --config ${{matrix.build_type }}

    # Run tests
    - name: Run tests
      run: ctest --test-dir ${{github.workspace}}/build --build-config ${{ matrix.build_type }} --verbose
